.Text {
  line-height: 1.5;

  @each $color-name
    in ("white", "black", "primary", "secondary", "tertiary", "quarternary", "gradient")
  {
    @if $color-name == "gradient" {
      &.color-#{$color-name} {
        background: var(--color-text-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    } @else {
      &.color-#{$color-name} {
        color: var(--color-text-#{$color-name});
      }
    }
  }

  @each $size-name in ("xxs", "xs", "sm", "default", "md", "lg", "xl") {
    &.size-#{"#{$size-name}"} {
      font-size: var(--font-size-#{$size-name});
    }
  }

  @each $weight-name in ("regular", "medium", "semi-bold", "bold") {
    &.weight-#{"#{$weight-name}"} {
      font-weight: var(--font-weight-#{$weight-name});
    }
  }

  @each $align-name in ("left", "center", "right") {
    &.align-#{"#{$align-name}"} {
      text-align: #{$align-name};
    }
  }

  &.truncated {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.multi-line-truncated {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.TextStory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;

  .Wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
