.CreateReviewFail {
  padding: 5rem 1.25rem 2.5rem;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-gradient);
}

.Top {
  h2 {
    white-space: pre-line;
    margin-top: 0.625rem;
  }
}

.Image {
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    width: 20rem;
    height: 20rem;
  }
}
