@mixin titleLg {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

@mixin titleMd {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

@mixin titleSm {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

@mixin bodyLg {
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-medium);
}

@mixin bodyMd {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

@mixin bodySm {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

@mixin bodyXsm {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-medium);
}

@mixin buttonMd {
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-semi-bold);
}

@mixin buttonSm {
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-medium);
}

@mixin buttonXs {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}
