@mixin titleLg {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-bold);
}

@mixin titleM {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
}

@mixin titleSm {
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-bold);
}

@mixin bodyLg {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
}

@mixin bodyM {
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-medium);
}

@mixin bodySm {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
}

@mixin bodyXsm {
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-medium);
}

@mixin buttonPrimary {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semi-bold);
}

@mixin buttonSecondary {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
}

@mixin buttonTertiary {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
}
