* {
  font-family: "Pretendard", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 37.5rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

body[data-scroll-locked] {
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
}

html body[data-scroll-locked] {
  margin: 0 auto !important;
}
