@use "@/styles/mixins" as *;

.Button {
  &.style-primary {
    background-color: var(--color-text01);
    color: var(--color-white);
    @include buttonPrimary;
  }

  &.style-secondary {
    background-color: var(--color-gray400);
    color: var(--color-white);
    @include buttonSecondary;
  }

  &.style-disabled {
    background-color: var(--color-gray350);
    color: var(--color-text03);
    @include buttonSecondary;
  }
}
