@use "@/styles/_mixins.scss" as *;

.InputWrapper {
  width: 100%;
  height: 3rem;
  border-radius: 0.875rem;
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.04);
  padding: 0.75rem 0.875rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  z-index: 1;

  &.style-primary {
    background-color: var(--color-white);

    & > input {
      width: calc(100% - 2.25rem);
    }
  }

  &.style-secondary {
    background-color: var(--color-gray100);

    & > input {
      width: 100%;
    }
  }

  &.Focused {
    border-color: var(--color-purple);
  }

  .Input {
    @include bodyMd;
    color: var(--color-text-primary);
    line-height: 1.5rem;

    &::placeholder {
      color: var(--color-text-tertiary);
    }
  }

  button {
    @include bodySm;
    color: var(--color-purple);
    line-height: 1.3125rem;
  }
}
