.Wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Story {
  height: 100%;
  padding: 2.5rem;
  background-color: white;
  color: black;
}

.InverseStory {
  height: 100%;
  padding: 2.5rem;
  background-color: black;
  color: white;
}
