@use "@/styles/_mixins.scss" as *;

.FeedbackButton {
  padding: 0.5rem 0.75rem;
  background-color: var(--color-gray200);
  border-radius: 0.75rem;
  height: 2.25rem;
  white-space: nowrap;
  color: var(--color-text-primary);
  line-height: 1.5rem;
  align-items: center;
  @include bodyM;
}

.ShareButton {
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--color-gray200);
  border-radius: 0.75rem;
  align-items: center;
  justify-content: center;
  margin-left: 0.625rem;
}

.Home {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 2.5rem;
  height: calc(100vh - 2.75rem);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-gradient);

  &::before {
    content: "";
    background: url("/src/assets/svg/img-graphic-main.svg") center no-repeat;
    background-size: 100% 16.375rem;
    filter: blur(4.625rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}

.Title {
  @include titleLg;

  line-height: 1.5;

  background-image: linear-gradient(90deg, #7953cd 20%, #d444ba 30%, #b544d4 70%, #764ada 80%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  white-space: pre-line;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s linear infinite;
}

.HomeTop {
  z-index: 1;
}

.HomeTitle {
  padding-top: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.HomeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  & > img {
    width: 14.375rem;
    height: 14.375rem;
    box-shadow: 0px 0px 2.5rem 0.625rem #fff;
    border-radius: 100%;
  }
}

.HomeBottom {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  z-index: 1;
}

@keyframes gradient {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}
